/*
*
* GLOBAL
*
*/
body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/*
*
* SIDEBAR
*
*/
#sidebar {
    position: fixed;
    top: 0%;
    width: 20%;
    height: 100vh;
    left: 0%;
    text-align: center;
    background-color: #03A9F4;
    z-index: 2;
    border-right: #0288D1 solid .75vh;
    padding-top: 10%;

}
#sidebar a {
    color: #FFFFFF;
}
#profile {
    border-radius: 50%;
    border: 0.25em white solid;
}
#toc {
    list-style: none;
    padding: 0;
}
#vertline {
    position: fixed;
    background-color: #FFFFFF;
    padding-left: 19.5%;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 1%;
}
#toc {
    font-size: 3rem;
}
#sbicons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sbicons li {
    display: inline;
    margin: 1%;
}

/*
*
* BODY
*
*/
.main {
    position: relative;
    display: block;
    width: 78.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    float: right;
    margin: 0 auto;
}
.centered {
    text-align: center;
}
#intro {
    padding-top: 2vh;
    background-color: #81D4FA;
}
.nospace {
    margin: 0;
}
#projects{
    padding-top: 2vh;
    background-color: white;
}
#contact {
    padding-top: 2vh;
    background-color: #81D4FA;
}
.project {
    padding: 2vh;
}
/*
*
* GRID
*
*/
.grid {
    padding: 0;
}
.grid-item {
    background-color: #ccc;
    width: 100%;
    height: 25em;
    margin: 0 1% 2.5% 1%;
    overflow: hidden;
    display: block;
}
.grid-item img {
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-item .label {
    background-color: #03A9F4;
    color: white;
    opacity: 0;
    border: #0288D1 solid .75vh;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}
.grid-item:hover .label{
    opacity: 1;
}

@media (min-width: 550px) {
    .grid-item {
        width: 48%;
        height: 30em;
    }

}
@media (min-width: 1000px) {
    .grid-item {
        width: 31.3%;
    }
}
