/*
*
* GLOBAL
*
*/
body {
    margin: 0;
}
/*
*
* SIDEBAR
*
*/
#sidebar {
    position: fixed;
    top: 0%;
    width: 20%;
    height: 100vh;
    left: 0%;
    text-align: center;
    background-color: #03A9F4;
    z-index: 2;
    border-right: #0288D1 solid .75vh;
    padding-top: 10%;

}
#sidebar a {
    color: #FFFFFF;
}
#profile {
    border-radius: 50%;
    border: 0.25em white solid;
}
#toc {
    list-style: none;
    padding: 0;
}
#vertline {
    position: fixed;
    background-color: #FFFFFF;
    padding-left: 19.5%;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 1%;
}
#toc {
    font-size: 3rem;
}

/*
*
* BODY
*
*/
.main {
    position: relative;
    display: block;
    width: 78.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    float: right;
    margin: 0 auto;
}
#intro {
    background-color: #81D4FA;
}
#projects{
    background-color: white;
}
#contact {
    background-color: #81D4FA;
}
.hline {
    position: relative;
    width: 100%;
    height: 10px;
    border: 10px #0288D1;
    z-index: 100;
}

/*
*
* GRID
*
*/
.grid {
    padding: 0;
}
.grid-item {
    background-color: #ccc;
    width: 100%;
    height: 25em;
    margin: 0 1% 2.5% 1%;
    overflow: hidden;
    display: block;
}
.grid-item img {
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 550px) {
    .grid-item {
        width: 48%;
        height: 30em;
    }

}
@media (min-width: 1000px) {
    .grid-item {
        width: 31.3%;
    }

}