<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/styles.css" /> 
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/skeleton.css" /> 

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/5b8389cf09.js"></script>
  </head>
  <body>
    <div id="sidebar">
      <a href="{{ site.url }}"><h1>Joshua Yuan</h1>
      <img src="{{ site.baseurl }}/assets/images/profile.jpg" id="profile" width="75%"/></a>
      <ul id="toc"> 
        <li><a href="{{ site.url }}#intro">About</a></li>
        <li><a href="{{ site.url }}#projects">Projects</a></li>
        <li><a href="{{ site.url }}#contact">Contact</a></li>
      </ul>
      <ul id="sbicons">
        <li><a href="https://github.com/joshuayuan"><i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a></li>
        <li><a href="https://www.linkedin.com/in/joshua-yuan"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
    <!-- <div id="vertline"></div> -->

    {{ content }}
    <!-- Piwik -->
  <script type="text/javascript">
  var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
        (function() {
             var u="//brentyi.com/piwik/";
                 _paq.push(['setTrackerUrl', u+'piwik.php']);
                     _paq.push(['setSiteId', '2']);
                         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                               })();
    </script>
    <!-- End Piwik Code -->
  </body>
</html>
