---
layout: default
redirect_from:
    - /intro/
    - /projects/
    - /contact/
---

<section id="intro" class="main">
    {% include intro.html %}
</section>
<hr class="hline main">
<section id="projects" class="main">
    <h1 style="text-align: center"> Projects </h1>
    <div class="grid">
    {% assign first = true %}
    {% assign sorted_projects = (site.projects | sort:"order")%}
    {% for project in sorted_projects %}
    <a href="{{project.url}}" class="grid-item {% if first %}grid-sizer{% endif %}">
        <img src="{{project.thumbnail}}"/>
        <h3 class="label">
            {{project.title}}
        </h3>
        <!-- <p>{{project.brief}}</p> -->
      </a>
      {% assign first = false %}
    {% endfor %}
  </div>
</section>
<hr class="hline main">
<section id="contact" class="main">
    {% include contact.html %}
</section>

<script>
    $('.grid').isotope({
        // options
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer'
    });
</script>
