---
layout: default
redirect_from:
    - /intro/
    - /projects/
    - /contact/
---

<section id="intro" class="main centered">
    {% include intro.html %}
</section>
<hr class="hline main">
<section id="projects" class="main centered">
    <h1 style="text-align: center"> Projects </h1>
    <div class="grid">
    {% assign first = true %}
    {% assign sorted_projects = (site.projects | sort:"order")%}
    {% for project in sorted_projects %}
    <div class="grid-item {% if first %}grid-sizer{% endif %}">
        <div class="img-responsive" style="background-image: url({{project.thumbnail}})">
            <div class="overlay">
                <a href="{{project.url}}" class="info"> {{project.title}} </a>
            </div>
        </div>
    </div>
      {% assign first = false %}
    {% endfor %}
  </div>
</section>
<hr class="hline main">
<section id="contact" class="main centered">
    {% include contact.html %}
</section>

<script>
    $('.grid').isotope({
        // options
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer'
    });
</script>
